@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-datepicker";

@import 'flowbite';


html {
  transition: background-color 0.3s, color 0.3s;
}

/* Стиль для светлой темы */
body {
  background-color: #ffffff; /* Светлый фон по умолчанию */
  color: #000000; /* Темный текст по умолчанию */
}

/* Стиль для темной темы */
html.dark {
  background-color: #1a202c; /* Темный фон */
}

html.dark body {
  background-color: #1a202c; /* Темный фон при темной теме */
  color: #ffffff; /* Белый текст при темной теме */
}
